:root {
  /* Colors */
  --white-100: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-0: rgba(255, 255, 255, 0);

  --black-100: #000000;
  --black-80: rgba(0, 0, 0, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-20: rgba(0, 0, 0, 0.2);

  --gray60-100: #737a8e;

  --color-bg: #f4f4f4;
  --color-separator: #e8e9ec;
  --color-btn-secondary: rgba(4, 104, 255, 0.1);
  --color-btn-secondary-hover: rgba(15, 72, 157, 0.2);
  --color-primary: #0468ff;
  --color-primary-hover: #0661ec;
}
